<!DOCTYPE html>
<html lang="en-us" ng-app="memorizerApp">
    <head>
        <% include templates/commonHead.ejs %>
    </head>
    <body>

        <% include templates/header.ejs %>
        <div class="container">

            <div>
                <%= author %>
            </div>

		</div>

    </body>
</html>