        <header>
			<!--<nav class="navbar navbar-default"> Uncomment for a nav
				<div class="container">
					<div class="navbar-header">
						<a class="navbar-brand" href="/">Columbus Weather</a>
					</div>
				</div>
			</nav>-->
		</header>
